<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add product</title>
        <script src="/js/addRow.js"></script>
        <script src="/js/deleteRow.js"></script>
        <script src="/js/ensureFilesAreImages.js"></script>
        <script src="/js/ensureLogoIsImage.js"></script>
        <script src="/js/resetAddingForm.js"></script>
        <script src="/js/limitNumberOfUploadedFiles.js"></script>
    </head>
    <body>
        
        <a href="/">
            <button>Main page</button>
        </a>
        <br>
        <br>
        
        <form th:action="@{/admin/add-product}" method="post" enctype="multipart/form-data" th:object="${item}">
            
            <!-- product name input -->
            <label for="name">Product name:</label>
            <input name="name" id="name" type="text" th:field="*{name}" placeholder="Enter product name" required>
            <br>
            
            <!-- price input -->
            <label for="price">Price:</label>
            <input name="price" id="price" type="text" th:field="*{price}" placeholder="Enter price" required>
            <br>
            
            <!-- amount input -->
            <label for="amount">Amount:</label>
            <input name="amount" id="amount" type="text" th:field="*{amount}" placeholder="Enter amount" required>
            <br>
            
            <!-- description -->
            <label for="description">Description:</label>
            <br>
            <textarea name="description" id="description" th:field="*{description}" rows="8" cols="50"
                      placeholder="Enter description"></textarea>
            <br>
            
            <!-- logo input -->
            <label for="logo-input" id="logo-input-label">Choose a logo (image)</label>
            <br>
            <input name="logo" type="file" id="logo-input" accept="image/*"
                   onchange="ensureLogoIsImage(this)">
            <br>
            
            <!-- images input -->
            <label for="image-input" id="image-label">Choose images (max is 10)</label>
            <br>
            <input name="images" type="file" id="image-input" accept="image/*"
                   onchange="ensureFilesAreImages(this); limitNumberOfUploadedFiles(this, 10)" multiple>
            <br>
            
            <!-- specs input -->
            Specifications:<br>
            <div id="specsForm">
                <!-- add button inserts here rows to create specs -->
            </div>
            
            <!-- this button adds a new row -->
            <button type="button" onclick="addRow()">+</button>
            <br>
            
            <!-- reset button -->
            <input id="reset" type="reset" value="Reset" onclick="resetAddingForm()">
            <br>
            
            <!-- send button -->
            <input id="send" type="submit" value="Send">
        
        </form>
    
    </body>
</html>