<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Admin</title>
        <link href="/css/navbar.css" rel="stylesheet" type="text/css">
        <link href="/css/main-part.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <header>Admin</header>
    
        <form method="post" th:action="@{/logout}" id="logout-form">
        </form>
        <nav>
            <ul>
                <li><a href="/about" class="headerLink">About</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/profile" class="headerLink">Profile</a></li>
                <li sec:authorize="hasRole('ROLE_USER')"><a href="/cart" class="headerLink">Cart</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin" class="headerLink current-category">Admin</a></li>
                <li><a href="/catalog" class="headerLink">Catalog</a></li>
                <li sec:authorize="isAuthenticated()">
                    <a class="headerLink">
                        <button type="submit" form="logout-form" class="gray">Logout</button>
                    </a>
                </li>
                <li sec:authorize="isAnonymous()"><a th:href="@{~/login}" class="headerLink">Login</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{~/registration}" class="headerLink">Register</a></li>
            </ul>
        </nav>
        <br>
        
        <div class="main-part">
            <a href="/admin/add-item">
                <button class="gray-button">Add item</button>
            </a><br>
            <a href="/admin/edit-or-delete-items">
                <button class="gray-button">Edit or delete item</button>
            </a><br>
        </div>
    
    </body>
</html>