<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Cart</title>
        <link href="/css/navbar.css" rel="stylesheet" type="text/css">
        <link href="/css/main-part.css" rel="stylesheet" type="text/css">
        <script src="/js/increaseAmountToPurchase.js"></script>
        <script src="/js/decreaseAmountToPurchase.js"></script>
        <script src="/js/deleteOrderById.js"></script>
        <script src="/js/checkIfAllItemsInStockAndSendForm.js"></script>
    </head>
    <body>
        
        <header>
            Cart
        </header>
    
        <form method="post" th:action="@{/logout}" id="logout-form">
        </form>
        <nav>
            <ul>
                <li><a href="/about" class="headerLink">About</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/profile" class="headerLink">Profile</a></li>
                <li sec:authorize="hasRole('ROLE_USER')"><a href="/cart" class="headerLink current-category">Cart</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin" class="headerLink">Admin</a></li>
                <li><a href="/catalog" class="headerLink">Catalog</a></li>
                <li sec:authorize="isAuthenticated()">
                    <a class="headerLink">
                        <button type="submit" form="logout-form" class="gray">Logout</button>
                    </a>
                </li>
                <li sec:authorize="isAnonymous()"><a th:href="@{~/login}" class="headerLink">Login</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{~/registration}" class="headerLink">Register</a></li>
            </ul>
        </nav>
        <br>
        
        <div class="main-part">
            <form th:action="@{/cart/buy-orders}" method="post" id="purchase-form">
                
                <div th:each="order: ${orders}" class="gray-box margin">
                    
                    <!-- logo -->
                    <img th:if="${order.getItem().getLogoName() != null}"
                         th:src="${logoFolder + order.getItem().getLogoName()}"
                         width="90px" height="90px" class="object-fit-contain"/>
                    <!-- if logo is not present -->
                    <img th:if="${order.getItem().getLogoName() == null}" src="/images/default-logo-image"
                         width="90px" height="90px" class="object-fit-contain"/>
                    <br>
                    
                    <!-- item name -->
                    <b><a th:text="${order.getItem().getName()}" th:href="${'/catalog/' + order.getItem().getId()}"></a></b>
                    <br>
    
                    Amount in store: <span class="stored-amount" th:text="${order.getItem().getAmount()}"></span>
                    <br>
                    
                    Amount to purchase:
                    <button type="button" class="small-sign" onclick="decreaseAmountToPurchase(this)">-</button>
                    <span class="amount-to-purchase-label" th:text="${order.getAmount()}"></span>
                    <input type="hidden" class="amount-to-purchase-field" th:value="${order.getAmount()}"
                           name="amount_to_purchase">
                    <button type="button" class="small-sign" onclick="increaseAmountToPurchase(this)">+</button>
                    <br>
                    
                    <div th:text="'Price: ' + ${order.getItem().getPrice()} + ' grn'"></div>
                    
                    <!-- delete item button (another form) -->
                    <button type="button" class="red-button" th:onclick="'deleteOrderById(' + ${order.getId()} + ')'">Delete</button>
                </div>
                
                <br>
    
                <!-- buy button -->
                <button form="purchase-form" class="green-button" th:if="${orders.size() > 0}" type="button"
                        onclick="checkIfAllItemsInStockAndSendForm()">Buy orders
                </button>
                
            </form>
        </div>
        
        <!-- delete form -->
        <form id="delete-order-form" th:action="@{/cart/delete-order}" method="post">
        </form>
        <br>
        
    </body>
</html>