<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Change profile data</title>
    </head>
    <body>
    
        <a href="/"><button>Main page</button></a>
        <br>
        <br>
        
        <b>Change data you want to update:</b>
        <form th:action="@{/profile/change-profile-data}" th:object="${user}" method="post">
    
            <label for="name">Name:</label>
            <input id="name" type="text" th:field="*{name}" placeholder="Enter name"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
            <br>
    
            <label for="surname">Surname:</label>
            <input id="surname" type="text" th:field="*{surname}" placeholder="Enter surname"/>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</span>
            <br>
    
            <label for="email">Email:</label>
            <input id="email" type="text" th:field="*{email}" placeholder="Enter email"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span>
            <br>
    
            <label for="telephone-number">Telephone number:</label>
            <input id="telephone-number" type="text" th:field="*{telephoneNumber}" placeholder="Enter telephone number"/>
            <span th:if="${#fields.hasErrors('telephoneNumber')}" th:errors="*{telephoneNumber}">Telephone number error</span>
            <br>
    
            <label for="country">Country:</label>
            <input id="country" type="text" th:field="*{country}" placeholder="Enter country"/>
            <span th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Country error</span>
            <br>
    
            <label for="address">Address:</label>
            <input id="address" type="text" th:field="*{address}" placeholder="Enter address"/>
            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address error</span>
            <br>
            
            <button type="submit">Send</button>
            
        </form>
        
    </body>
</html>