<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Change password</title>
        <link href="/css/navbar.css" rel="stylesheet" type="text/css">
        <link href="/css/main-part.css" rel="stylesheet" type="text/css">
        <link href="/css/change-password.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <header>Profile</header>
        
        <form method="post" th:action="@{/logout}" id="logout-form">
        </form>
        <nav>
            <ul>
                <li><a href="/about" class="headerLink">About</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/profile" class="headerLink current-category">Profile</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')"><a href="/cart" class="headerLink">Cart</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin" class="headerLink">Admin</a></li>
                <li><a href="/catalog" class="headerLink">Catalog</a></li>
                <li sec:authorize="isAuthenticated()">
                    <a class="headerLink">
                        <button type="submit" form="logout-form" class="gray">Logout</button>
                    </a>
                </li>
                <li sec:authorize="isAnonymous()"><a th:href="@{~/login}" class="headerLink">Login</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{~/registration}" class="headerLink">Register</a></li>
            </ul>
        </nav>
        <br>
        
        <div class="main-part">
            <div class="gray-text-label">Change password</div>
            <br>
            
            <form th:action="@{/profile/change-password}" method="post" id="password-form" th:object="${user}">
                
                <div class="change-password-grid">
                    
                    <!-- new password -->
                    <div>
                        <label for="new-password" class="gray-text-label">Enter new password:</label>
                    </div>
                    <div>
                        <input name="new_password" class="text-field" id="new-password" th:field="*{password}"
                               type="password" required>
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="red"></div>
                    </div>
                    
                    <!-- repeat new password -->
                    <div>
                        <label for="repeated-new-password" class="gray-text-label">Repeat new password:</label>
                    </div>
                    <div>
                        <input name="repeated_new_password" class="text-field" id="repeated-new-password"
                               th:field="*{repeatedPassword}" type="password" required>
                        <div th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"
                             class="red"></div>
                    </div>
                
                </div>
                <br>
                
                <button id="submit-button" class="green-button" onclick="checkIfPasswordsMatch()">Update password
                </button>
            
            </form>
        </div>
    </body>
</html>