<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Change password</title>
        <script src="/js/checkIfPasswordsMatch.js"></script>
    </head>
    <body>
    
        <a href="/"><button>Main page</button></a>
        <br>
        <br>
        
        <form th:action="@{/profile/change-password}" method="post" id="password-form">
            
            <label for="new-password">Enter new password:</label>
            <input name="new_password" id="new-password" type="password" required>
            <br>
            
            <label for="repeated-new-password">Repeat new password:</label>
            <input name="repeated_new_password" id="repeated-new-password" type="password" required>
            <br>
            
            <button id="submit-button" onclick="checkIfPasswordsMatch()">Send</button>
            
        </form>
    </body>
</html>