<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Delete account</title>
    </head>
    <body>
        
        <a href="/">
            <button>Main page</button>
        </a>
        <br>
        <br>
        
        <b>Are you sure you want to delete you account?</b>
        <br>
        <form th:action="@{/profile/delete-account}" method="post">
            <button type="submit">Yes</button>
        </form>
        
    </body>
</html>