<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8">
        <title th:text="${item.getName()}">Title</title>
        <link href="/css/main-part.css" rel="stylesheet" type="text/css">
        <link href="/css/item.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        
        <a href="/catalog">
            <button class="gray-button">Catalog</button>
        </a>
        <br>
        <br>
        
        <!-- name -->
        <div th:text="${item.getName()}" class="black-text-label"></div>
        
        <!-- logo -->
        <img th:if="${item.getLogoName() != null && !item.getLogoName().equals('')}"
             th:src="${logoFolder + item.getLogoName()}"
             width="90px" height="90px" class="object-fit-contain"/>
        <!-- if logo is not present -->
        <img th:if="${item.getLogoName() == null || item.getLogoName().equals('')}" src="/images/default-logo-image"
             width="90px" height="90px" class="object-fit-contain"/>
        <br>
        
        <!-- images -->
        <span th:if="${item.getImageNames() != null}" th:each="image : ${item.getImageNames()}">
            <img th:src="${imagesFolder + image}" width="250px" height="250px" class="object-fit-contain"/>
        </span>
        <br>
        
        <!-- price -->
        <div th:text="'Price: ' + ${item.getPrice()}" class="black-text-label gray-box"></div>
        <br>
        <br>
        
        <!-- amount -->
        <div th:text="'Amount: ' + ${item.getAmount()}" class="black-text-label gray-box"></div>
        <br>
        
        <!-- description -->
        <p th:if="${item.getDescription() != null && !item.getDescription().equals('')}"
           th:text="${item.getDescription()}" class="black-text-label gray-box"></p>
        <br>
        
        <!-- specs -->
        <div th:if="${item.getSpecs() != null && item.getSpecs().size() > 0}">
            <div class="black-text-label gray-box">Specifications:</div>
            <table class="specs-table">
                <tr th:each="spec : ${item.getSpecs()}">
                    <td th:text="${spec.key}" class="text-field"></td>
                    <td th:text="${spec.value}" class="text-field"></td>
                </tr>
            </table>
        </div>
        
        <!-- buy button if (ROLE == ROLE_USER && amount > 0) -->
        <form th:action="@{/cart/add-order}" method="post" sec:authorize="hasRole('ROLE_USER')"
              th:if="${!alreadyOrdered && item.getAmount() > 0}">
            <input type="hidden" name="item-id" th:value="${item.getId()}">
            <button type="submit" class="green-button">Order</button>
        </form>
        
        <!-- "you already bought it" label if (ROLE == ROLE_USER && user already bought it) -->
        <div th:if="${alreadyOrdered}" class="red">
            You already ordered this item
            <br>
        </div>
        
        <!-- "out of stock" label if (amount == 0) -->
        <div th:if="${item.getAmount() == 0}" class="red">Item is out of stock</div>
    
    </body>
</html>