<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main</title>
    </head>
    <body>
        
        <a href="/about">About</a>
        
        <a sec:authorize="isAuthenticated()" href="/profile">Profile</a>
        
        <a sec:authorize="hasRole('ROLE_USER')" href="/cart">Cart</a>
    
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin">Admin</a>
        
        <a href="/catalog">Catalog</a>
    
        <form method="post" th:action="@{/logout}">
            <button sec:authorize="isAuthenticated()" type="submit">Logout</button>
        </form>
    
        <a sec:authorize="isAnonymous()" th:href="@{~/login}">Login</a>
    
        <a sec:authorize="isAnonymous()" th:href="@{~/registration}">Register</a>

    </body>
</html>