<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
    </head>
    <body>
    
        <a href="/"><button>Main page</button></a>
        <br>
        <br>
        
        <b>Your profile</b>
        <div th:object="${user}">
            Name: <span th:text="*{name}"></span><br>
            Surname: <span th:text="*{surname}"></span><br>
            Email: <span th:text="*{email}"></span><br>
            Telephone number: <span th:text="*{telephoneNumber}"></span><br>
            Country: <span th:text="*{country}"></span><br>
            Address: <span th:text="*{address}"></span><br>
        </div>
        
        <a href="/profile/change-profile-data">change data</a><br>
        
        <a href="/profile/change-password">change password</a><br>
        
        <a href="/profile/delete-account">delete account</a><br>
        
    </body>
</html>