<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Update item</title>
        <link href="/css/navbar.css" rel="stylesheet" type="text/css">
        <link href="/css/main-part.css" rel="stylesheet" type="text/css">
        <link href="/css/update-item.css" rel="stylesheet" type="text/css">
        <script src="/js/addRow.js"></script>
        <script src="/js/deleteRow.js"></script>
        <script src="/js/ensureFilesAreImages.js"></script>
        <script src="/js/ensureLogoIsImage.js"></script>
        <script src="/js/resetAddingForm.js"></script>
        <script src="/js/limitNumberOfUploadedFiles.js"></script>
        <script src="/js/concealLogoInput.js"></script>
        <script src="/js/concealImagesInput.js"></script>
    </head>
    <body>
        
        <header>
            Admin
        </header>
        
        <form method="post" th:action="@{/logout}" id="logout-form">
        </form>
        <nav>
            <ul>
                <li><a href="/about" class="headerLink">About</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/profile" class="headerLink">Profile</a></li>
                <li sec:authorize="hasRole('ROLE_USER')"><a href="/cart" class="headerLink">Cart</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin" class="headerLink">Admin</a></li>
                <li><a href="/catalog" class="headerLink current-category">Catalog</a></li>
                <li sec:authorize="isAuthenticated()">
                    <a class="headerLink">
                        <button type="submit" form="logout-form" class="gray">Logout</button>
                    </a>
                </li>
                <li sec:authorize="isAnonymous()"><a th:href="@{~/login}" class="headerLink">Login</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{~/registration}" class="headerLink">Register</a></li>
            </ul>
        </nav>
        <br>
        
        <div class="main-part">
            <form th:action="@{/admin/update-item}" method="post" enctype="multipart/form-data">
                
                <div class="gray-text-label">Update item</div>
                <br>
                
                <div class="update-item-grid">
                    
                    <!-- id -->
                    <input type="hidden" name="id" th:value="${id}">
                    
                    <!-- item name input -->
                    <div>
                        <label for="name" class="gray-text-label">Item name:</label>
                    </div>
                    <div>
                        <input name="name" id="name" type="text" class="text-field" placeholder="Enter item name"
                               th:value="${name}" required>
                    </div>
                    
                    <!-- price input -->
                    <div>
                        <label for="price" class="gray-text-label">Price:</label>
                    </div>
                    <div>
                        <input name="price" id="price" type="text" class="text-field" placeholder="Enter price"
                               th:value="${price}" required>
                    </div>
                    
                    <!-- amount input -->
                    <div>
                        <label for="amount" class="gray-text-label">Amount:</label>
                    </div>
                    <div>
                        <input name="amount" id="amount" type="text" class="text-field" placeholder="Enter amount"
                               th:value="${amount}" required>
                    </div>
                    
                    <!-- description -->
                    <div>
                        <label for="description" class="gray-text-label">Description:</label>
                    </div>
                    <div>
                        <textarea name="description" id="description" rows="8" cols="50" placeholder="Enter description"
                                  class="text-field" th:text="${description}"></textarea>
                    </div>
    
                    <!-- logo input -->
                    <div>
                        <label for="logo-input" class="gray-text-label" id="logo-label">Choose a logo (image)</label>
                    </div>
                    <div>
                        <label for="logo-input" id="logo-input-label" class="image-input-label">Choose an image file</label>
                    </div>
                    <input name="logo" type="file" id="logo-input" class="display-none"
                           accept="image/*" onchange="ensureLogoIsImage(this)">
                    
                    <!-- delete previous logo checkbox -->
                    <div th:if="${isLogoPresent}" class="grid-double-column">
                        <input type="checkbox" name="delete-previous-logo" id="delete-previous-logo"
                               onchange="concealLogoInput()">
                        <label for="delete-previous-logo" class="gray-text-label">Delete previous logo</label>
                    </div>
                    
                    <!-- images input -->
                    <div>
                        <label for="images-input" class="gray-text-label" id="images-label">Choose images (max is 10)</label>
                    </div>
                    <div>
                        <label for="images-input" id="images-input-label" class="image-input-label">Choose images</label>
                    </div>
                    <input name="images" type="file" id="images-input" accept="image/*"
                           onchange="ensureFilesAreImages(this); limitNumberOfUploadedFiles(this, 10)"
                           class="display-none" multiple>
                    
                    <!-- delete previous images checkbox -->
                    <div th:if="${isAnyImage}" class="grid-double-column">
                        <input type="checkbox" name="delete-previous-images" id="delete-previous-images"
                               onchange="concealImagesInput()">
                        <label for="delete-previous-images" class="gray-text-label">Delete previous images</label>
                    </div>
                
                </div>
                <br>
                
                <!-- specs input -->
                <div class="gray-text-label">Specifications:</div>
                <div id="specsForm">
                    <div th:each="spec : ${specs}">
                        <input type="text" name="spec-names" class="text-field" th:value="${spec.key}" placeholder="spec name">
                        <input type="text" name="spec-values" class="text-field" th:value="${spec.value}" placeholder="spec value">
                        <button type="button" class="big-sign" onclick="deleteRow(this)">-</button>
                        <br>
                    </div>
                    <!-- add button inserts here rows to create specs -->
                </div>
                
                <!-- this button adds a new row -->
                <button type="button" class="big-sign" onclick="addRow()">+</button>
                <br>
                
                <!-- reset button -->
                <input id="reset" type="reset" class="red-button" value="Reset" onclick="resetAddingForm()">
                <br>
                
                <!-- send button -->
                <input id="send" type="submit" class="green-button" value="Send">
            
            </form>
        </div>
    
    </body>
</html>